<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
</head>

<body>

<div class="card mb-3" style="max-width: 540px; margin-left: auto; margin-right: auto; border: 5px solid #58595B; border-radius:5%;">
    <div class="row no-gutters" style="text-align: center;">
        <div class="col-md-4" style="text-align: center;">
            <h1 style="text-align: center;">Hobby Talk</h1>
            <img src="https://res.cloudinary.com/awhds/image/upload/v1634177847/hobbytalk/Vector_5_ctfkdc.png" class="logo-footer" style="height: 250px;">
        </div>
        <div class="col-md-8" style="text-align: center;">
            <div class="card-body" style="text-align: center;">
                <hr>
                <h2 class="card-title">Account Info:</h2>
                <p class="card-text">Email: {{email}}</p>
            </div>
            <div class="card-body" style="text-align: center;">
                <p class="card-text">Please click button for verification</p>
                <a class="button" style="background: cornflowerblue;" href="{{link}}"></a>
            </div>
        <h6 style="color: grey; text-align: center;">© Hobby Talk 2021. All rights reserved</h6>
        </div>
    </div>
</div>

</body>

</html>